<section class=" subcategories">
    <h2><strong>Fashion wears</strong></h2>

    <div class="row">
            


    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <a href="wm">
            <img class="item-img-top" src="assets/womens.jpg"alt="item">
            </a>
                <h4 class="item-title">Womens Wear</h4>
            </div>
            </div>
       </div>
            <div class="col-sm-4" style="width: 20rem;">
                <div class="card text-black bg-color:white">
                    <div class="card-body"  >
                        <a href="men">
                <img class="item-img-top" src="assets/gentswear.jpg"alt="item" width="300">
                </a>
                    <h4 class="item-title">Gents Wear</h4>
                   </div>
                </div>
            </div>
                <div class="col-sm-4" style="width: 20rem;">
                    <div class="card text-black bg-color:white">
                        <div class="card-body"  >
                            <a href="kid">
                    <img class="item-img-top" src="assets/kidswear.jpg"alt="item">
                            </a>
                        <h4 class="item-title">Kids Wear</h4>
                        </div>
                    </div>
                 </div>
                 </div>
                 </section>
       