<section class="product">
    <h2><strong>Products</strong></h2>
  <div class="row">
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <img class="item-img-top" src="assets/len2.jpg" alt="item" height="300" width="300">
                <h5 class="card-title">LENOVO </h5>
                <h5 class="card-title">PRICE:45000 </h5>
                
                <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
               
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/lap2.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">MAC</h5>
                <h5 class="card-title">PRICE:90000 </h5>
                <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
               
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/lap3.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">HP</h5>
                <h5 class="card-title">PRICE:35000 </h5>
                <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/lap4.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">DELL</h5>
                <h5 class="card-title">PRICE:39000 </h5>
                <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
            </div>
        </div>
    </div>
  
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/lap5.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">ASUS</h5>
                <h5 class="card-title">PRICE:34999 </h5>
                <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
            </div>
        </div>
    </div>
    
  </div>
  </section>
  