

    <section class="categories">
        <h2><strong>Categories</strong></h2>
    <div class="row">
        <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body"  >
                    <a href="ele">
                    <img class="item-img-top" src="assets/electronic.png" alt="item">
                </a>
                    <h5 class="card-title">Electronic Devices</h5>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body">
                    <a href="clth">
                    <img class="item-img-top" src="assets/clothes.png" alt="item">
                </a>
                    <h5 class="card-title">Clothes</h5>
                   
                   
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body">
                    <a href="gre">
                    <img class="item-img-top" src="assets/groceries.png" alt="item">
                </a>
                    <h5 class="card-title">Groceries</h5>
                    
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body">
                    <a href="ac">
                    <img class="item-img-top" src="assets/accessories.png" alt="item">
                </a>
                    <h5 class="card-title">Accessories</h5>
                    
                
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body">
                    <a href="foot">
                    <img class="item-img-top" src="assets/footware.png" alt="item" >
                </a>
                    <h5 class="card-title" >Footware</h5>
                  
                    
                </div>
            </div>
        </div>

        <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body"  >
                    <a href="wat">
                    <img class="item-img-top" src="assets/watches.jpg" alt="item">
                 </a>
                        <h4 class="item-title">Watches</h4>
                </div>
             </div>
        </div>
    </div>
    </section>