
<section class=" subcategories">
    <h2><strong>Electronic items</strong></h2>





<div class="row">
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <a href="prdt">
                <img class="item-img-top" src="assets/wat1.jpg" alt="item" width="150">
               
            </a>
            <h4 class="item-title">womens watches</h4>
            
           </div>
        </div>
    </div>


        <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body"  >
                    <a href="prdt">
                <img class="item-img-top" src="assets/wt2.jpg"alt="item">
                      </a>
                <h4 class="item-title">mens watches</h4>
                
                </div>
            </div>
        </div>
            
        <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body"  >
                    <a href="prdt">
            <img class="item-img-top" src="assets/wt3.jpg"alt="item">
                    </a>
                <h4 class="item-title">kids watches</h4>
            </div>
        </div>         
    </div>
    </div>
    </section>