<section class="product">
    <h2><strong>Products</strong></h2>
  <div class="row">
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <img class="item-img-top" src="assets/fast1.png" alt="item" height="300" width="300">
                <h5 class="card-title">FASTRACK MENS</h5>
                
                <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
               
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/fast2.png" alt="item"height="300" width="300">
              <h5 class="card-title">FASTRACK</h5>
              
              <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
             
          </div>
      </div>
  </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/wat2.jpg" alt="item"height="300" width="300">
                <h5 class="card-title"><TITAN</h5>
                
                <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
               
            </div>
        </div>
    </div>
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/wat3.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">LADIES WATCH</h5>
               
                <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
               
            </div>
        </div>
    </div>
    
  
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body">
                <img class="item-img-top" src="assets/wat6.jpg" alt="item"height="300" width="300">
                <h5 class="card-title">SMART WATCH</h5>
                <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
            </div>
        </div>
    </div>
    
  </div>
  </section>