.container-form { max-width: 600px; margin: 0 auto; }
form {
    border: 3px solid #f1f1f1;
    background-color:silver;
    width:30%;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    position: absolute;
    margin-top: -15%;
  }
  
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  
  button:hover {
    opacity: 0.8;
  }
  
  
 
  
  .imglogin {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.login {
    width: 40%;
    border-radius: 50%;
  }
  
  
  .login {
    padding: 16px;
  }
  
  
  @media screen and (max-width: 300px) {
    
    .cancelbtn {
      width: 50%;
    }
  }