
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  
    <img src="assets/emart.jpg" height="70" width="70"alt="not found">


  <button class="navbar-toggler" type="button"
    data-toggle="expand" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ol class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      
      
      

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Categories </a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
        <a  class="dropdown-item" href="#ele"  routerLink="/subcat">Electronics</a>
        <a  class="dropdown-item" href="#clth"  routerLink="/subcat2">Fashion</a>
        <a  class="dropdown-item" href="#acc"  routerLink="/subcat3">Accessories</a>  
        <a  class="dropdown-item" href="#gro"  routerLink="/subcat4">Groceries</a>             
      </div>
    </li>
     
    <li class="nav-item">
      <a class="nav-link" routerLink="con"> Contact Us</a>
    </li> 
  </ol>
  </div>
  
    

    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-user"> MyAccount </span>
      </button>
       <div class="dropdown-menu dropdown-menu-right"> 
        <a href="existinguser">
        <button class="dropdown-item" type="button">Login</button> 
      </a>
      <a href="newuser">
        <button class="dropdown-item" type="button">Buyer SignUp</button>
    
      </a>
      <a href="sup">
        <button class="dropdown-item" type="button">Seller SignUp</button>
        </a>
        <a href="">
          <button class="dropdown-item" type="button">Logout</button>
          </a>
      </div>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <a href="cart" class="btn btn-info">
      <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
    </a>

</nav>

<router-outlet> </router-outlet>
