<section class=" subcategories">
    <h2><strong>Accessories</strong></h2>

    <div class="row">
            


    <div class="col-sm-4" style="width: 23rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <a href="ne">
            <img class="item-img-top" src="assets/ac1.jpg"alt="item"width="400" height="250">
            </a>
                <h4 class="item-title"> Necklase </h4>
            </div>
            </div>
       </div>
            <div class="col-sm-4" style="width: 23rem;">
                <div class="card text-black bg-color:white">
                    <div class="card-body"  >
                        <a href="ri">
                <img class="item-img-top" src="assets/ac2.jpg"alt="item" width="400px">
                </a>
                    <h4 class="item-title"> Rings </h4>
                   </div>
                </div>
            </div>
                <div class="col-sm-4" style="width: 20rem;">
                    <div class="card text-black bg-color:white">
                        <div class="card-body"  >
                            <a href="ba">
                    <img class="item-img-top" src="assets/ac3.jpg"alt="item" width="450">
                            </a>
                        <h4 class="item-title">  Bags  </h4>
                        </div>
                    </div>
                 </div>
                 </div>
                 </section>
       