<section class=" subcategories">
  <h2><strong>VEGETABLES</strong></h2>
             
      <div class="row">
      <div class="col-sm-4" style="width: 20rem;">
          <div class="card text-black bg-color:white">
              <div class="card-body"  >
                  <img class="item-img-top" src="assets/v1.jpg" alt="item" height="300" width="300">
                  <h5 class="card-title">CARROT</h5>
                  <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
              </div>
          </div>
      </div>
          <div class="col-sm-4" style="width: 20rem;">
              <div class="card text-black bg-color:white">
                  <div class="card-body">
                      <img class="item-img-top" src="assets/v2.jpg" alt="item"height="300" width="300">
                      <h5 class="card-title">TOMATO</h5>
                      
                      <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
                      
                  </div>
              </div>
          </div>
          <div class="col-sm-4" style="width: 20rem;">
              <div class="card text-black bg-color:white">
                  <div class="card-body">
                      <img class="item-img-top" src="assets/v3.jpg" alt="item"height="300" width="300">
                      <h5 class="card-title">CAPSICUM</h5>
                      
                      <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
                      
                  </div>
              </div>
          </div>
          <div class="col-sm-4" style="width: 20rem;">
              <div class="card text-black bg-color:white">
                  <div class="card-body">
                      <img class="item-img-top" src="assets/v4.jpg" alt="item"height="300" width="300">
                      <h5 class="card-title">CAULI FLOWER</h5>
                      
                      <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
                      
                  </div>
              </div>
          </div>
          <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body">
                    <img class="item-img-top" src="assets/v5.jpg" alt="item"height="300" width="300">
                    <h5 class="card-title">BRACOLI</h5>
                    
                    <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body">
                    <img class="item-img-top" src="assets/v6.jpg" alt="item"height="300" width="300">
                    <h5 class="card-title">LADIES FINGER</h5>
                    
                    <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
                    
                </div>
            </div>
        </div>
      
      </div>
      </section>
