<section class="sub categories">
    <h2><strong>Sub Categories</strong></h2>
    <div class="row">
        <div class="col-sm-5" style="width:20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                    <h4 class="item-title">GROCERIES</h4>
                    <a href="gro">
                        <img class="item-img-top" src="assets/gro1.jpg" alt="item" width="90%" height="90%">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-5" style="width:20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body" >
                <h4 class="item-title">VEGETABLES</h4>
                <a href="veg">
                    <img class="item-img-top" src="assets/gr2.jpg" alt="item" width="70%" height="90%">
                </a>
                </div>
            </div>
       </div>   
       <div class="col-sm-5" style="width:20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body" >
            <h4 class="item-title">FRUITS</h4>
            <a href="fru">
                <img class="item-img-top" src="assets/fruits.jpg" alt="item" width="90%" height="90%">
            </a>
           </div>
        </div>
        </div>
        
    </div>
</section>