
<section class=" subcategories">
    <h2><strong>Footware</strong></h2>





<div class="row">
    <div class="col-sm-4" style="width: 20rem;">
        <div class="card text-black bg-color:white">
            <div class="card-body"  >
                <a href="prdt">
                <img class="item-img-top" src="assets/foot1.jpg" alt="item" >
               
            </a>
            <h4 class="item-title">Shoes</h4>
            
           </div>
        </div>
    </div>


        <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body"  >
                    <a href="prdt">
                <img class="item-img-top" src="assets/foot2.jpg"alt="item" width="350">
                      </a>
                <h4 class="item-title">Heels for girls</h4>
                
                </div>
            </div>
        </div>
            
        <div class="col-sm-4" style="width: 20rem;">
            <div class="card text-black bg-color:white">
                <div class="card-body"  >
                    <a href="prdt">
            <img class="item-img-top" src="assets/foot3.jpg"alt="item" width="350">
                    </a>
                <h4 class="item-title">flat Sandals</h4>
            </div>
        </div>         
    </div>
    </div>
    </section>