<section class="product">
  <h2><strong>Products</strong></h2>
<div class="row">
  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body"  >
              <img class="item-img-top" src="assets/tv1.jpg" alt="item" height="300" width="300">
              <h5 class="card-title">SAMSUNG ULTRA</h5>
              
              <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
             
          </div>
      </div>
  </div>
  <div class="col-sm-4" style="width: 20rem;">
    <div class="card text-black bg-color:white">
        <div class="card-body">
            <img class="item-img-top" src="assets/tv2.jpg" alt="item"height="300" width="300">
            <h5 class="card-title">SAMSUNG WIDE</h5>
            
            <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
           
        </div>
    </div>
</div>
  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/lg1.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">LG</h5>
              
              <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
             
          </div>
      </div>
  </div>
  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/lg2.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">LG</h5>
             
              <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
             
          </div>
      </div>
  </div>
  

  <div class="col-sm-4" style="width: 20rem;">
      <div class="card text-black bg-color:white">
          <div class="card-body">
              <img class="item-img-top" src="assets/lg3.jpg" alt="item"height="300" width="300">
              <h5 class="card-title">LG</h5>
              <a class="btn btn-primary" routerLink="/prd">Add to Product-List</a>
          </div>
      </div>
  </div>
  
</div>
</section>