<section class=" subcategories">
    <h2><strong>Groceries</strong></h2>

    <div class="row">
            


            <div class="col-sm-4" style="width: 23rem;">
                <div class="card text-black bg-color:white">
                    <div class="card-body"  >
                        <a href="prdt">
                <img class="item-img-top" src="assets/gr2.jpg"alt="item" width="400px">
                </a>
                    <h4 class="item-title">Vegetables</h4>
                   </div>
                </div>
            </div>
                <div class="col-sm-4" style="width: 20rem;">
                    <div class="card text-black bg-color:white">
                        <div class="card-body"  >
                            <a href="prdt">
                    <img class="item-img-top" src="assets/gr3.jpg"alt="item">
                            </a>
                        <h4 class="item-title">Fruits</h4>
                        </div>
                    </div>
                 </div>
                 </div>
                 </section>
       